*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
} 

button {
    cursor: pointer;
}

.invisible {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header_logo_img {
    width: 200px;
    height: 100px;
    transition: all 0.1s;
} 

.header_logo_img:hover {
    transform: scale(0.97);
}

header .header_list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

header .header_list .header_list_item a {
    color: black;
    font-size: 16px;
    transition: all 0.1s;
}

header .header_list .header_list_item a:hover {
    color: purple;
}

header .header_btn {
    padding: 10px 30px;
    border-radius: 6px;
    background-color: black;
    color: yellow;
    margin-left: 60px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s;
    border: 0;
}

header .header_btn:hover {
    background-color: purple;
}

header .menu {
    display: none;
}

.burger_menu {
    position: absolute;
    width: 70%;
    min-height: 100vh;
    background-color: rgb(55, 17, 77);
    top: 0;
    transition: all 0.4s;
    padding: 40px 30px;
    transform:translateX(-101%);
}

.burger_menu ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.burger_menu a {
    color: aliceblue;
}

.login_box {
    transition: all 0.2s;
    transform: scale(0);
    width: 500px;
    border: 2px solid;
    background: url('../img/ezgif.com-video-to-gif\ \(2\).gif') center center/cover no-repeat;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 0 auto;
    position: relative;
}

.login_box .box_title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: yellow;
    background-color: black;
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.login_box form {
    margin-top: 40px;
    display: block;
    max-width: 230px;
    margin: 0 auto;
}

.login_box form > div {
    margin-top: 20px;
}


.login_box form .text_input input, .login_box form button {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}

.login_box form label {
    color: yellow;
    font-weight: 500;
    font-size: 17px;
}

.login_box form button {
    margin-top: 12px;
    background-color: black;
    color: yellow;
}

.active_login_box {
    transform: scale(1);
}

.login_link {
    color: azure;
}

.login_box .cross {
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.1s;
}

.login_box .cross:hover {
    transform:scale(0.94);
}